@model IEnumerable<ProductoViewModel>

<div class="row">
    @foreach (var producto in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@producto.ImagenRuta" class="card-img-top" alt="@producto.Nombre">
                <div class="card-body">
                    <h5 class="card-title">@producto.Nombre</h5>
                    <p class="card-text">@producto.PrecioVenta.ToString("C")</p>
                    <a href="@Url.Action("DetalleProducto", "Producto", new { id = producto.IdProducto })" class="btn btn-outline-primary">Ver detalles</a>
                    <button class="btn btn-outline-success" onclick="agregarAlCarrito(@producto.IdProducto, '@producto.Nombre', @producto.PrecioVenta, '@producto.ImagenRuta')">Agregar al carrito</button>
                </div>
            </div>
        </div>
    }
</div>
